<div class="row cardsExplicativos mt-5">

  <div class="cardsExplicativos_Item col-lg-3 col-md-6 col-sm-12">
    <span class="cardsExplicativos_Numero">1.</span>
    <div class="cardsExplicativos_Texto">
      <h3 class="cardsExplicativos_Titulo">Seja a CPU!</h3>
      <p class="cardsExplicativos_Paragrafo">
        A ideia aqui é colocar você no papel do computador e é por isso
        mesmo que você não vê o conteúdo da sequência numérica criada.
        Apenas os elementos que estão sendo comparados serão exibidos.
      </p>
    </div>
  </div>

  <div class="cardsExplicativos_Item col-lg-3 col-md-6 col-sm-12">
    <span class="cardsExplicativos_Numero">2.</span>
    <div class="cardsExplicativos_Texto">
      <h3 class="cardsExplicativos_Titulo">Quem não arrisca não petisca!</h3>
      <p class="cardsExplicativos_Paragrafo">
        Coisas novas podem parecer assustadoras no início. Mas, arrisque-se e não tenha medo de errar. O erro faz parte do aprendizado. Deu ruim? Não tem problema. Clique em recomeçar e tente outra vez!
      </p>
    </div>
  </div>

  <div class="cardsExplicativos_Item col-lg-3 col-md-6 col-sm-12">
    <span class="cardsExplicativos_Numero">3.</span>
    <div class="cardsExplicativos_Texto">
      <h3 class="cardsExplicativos_Titulo">Sem seleção não há solução!</h3>
      <p class="cardsExplicativos_Paragrafo">
        Você precisará selecionar os elementos antes de realizar alguma ação sobre eles. Selecione uma carta e clique em um dos botões para movê-la. Lembre-se disso ;)
      </p>
    </div>
  </div>

  <div class="cardsExplicativos_Item col-lg-3 col-md-6 col-sm-12">
    <span class="cardsExplicativos_Numero">4.</span>
    <div class="cardsExplicativos_Texto">
      <h3 class="cardsExplicativos_Titulo">Foca no objetivo!</h3>
      <p class="cardsExplicativos_Paragrafo">
        Na simulação do método de ordenação você tem uma lista de objetivos para alcançar a fim de concluir a ordenação. O código do método está lá também, se for útil para você.
      </p>
    </div>
  </div>

  

  <!-- <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-primary text-uppercase mb-3"
            >
              Na simulação você será a CPU!
            </div>
            <div class="h6 mb-0 font-weight-bold text-gray-800">
              A ideia aqui é colocar você no papel do computador e é por isso
              mesmo que você não vê o conteúdo da sequência numérica criada.
              Apenas os elementos que estão sendo comparados serão exibidos.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-primary text-uppercase mb-3"
            >
              Sem seleção não há solução!
            </div>
            <div class="h6 mb-0 font-weight-bold text-gray-800">
                Você precisará selecionar os elementos antes de realizar alguma ação sobre eles. Lembre-se disso ;)
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-primary text-uppercase mb-3"
            >
              Quem não arrisca não petisca!
            </div>
            <div class="h6 mb-0 font-weight-bold text-gray-800">
              Coisas novas podem parecer assustadoras no início. Mas, arrisque-se e não tenha medo de errar. O erro faz parte do aprendizado. Deu ruim? Não tem problema. Clique em recomeçar e tente outra vez!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-primary text-uppercase mb-3"
            >
              Na simulação você será a CPU!
            </div>
            <div class="h6 mb-0 font-weight-bold text-gray-800">
              A ideia aqui é colocar você no papel do computador e é por isso
              mesmo que você não vê o conteúdo da sequência numérica criada.
              Apenas os elementos que estão sendo comparados serão exibidos.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

</div>
