<div class="banner_home bg-white d-flex justfy-content-center align-items-center">

    
    <div class="banner_Container">
        <div class="d-flex justfy-content-center align-items-center"  >
            <div class="banner_text">
                <h1 class="text-primary">Que bom ver você por aqui!</h1>
                <div class="content-home-descricao">
                    <h5>
                        Nosso propósito é facilitar o acesso ao conhecimento para empoderar as pessoas, transformando o futuro através da tecnologia. 
                    </h5>
                </div>

               
            </div>
          
        </div>
        
    </div>

    
  
</div>
