.banner_home {
    width: 100%;
    min-height: 400px;
}

.banner_Container{
    width: 90%;
    margin: 0 auto;

}


.banner_text {
    width: 60%;
}

.banner_text p{

    font-size: 20px;
}

.banner_Img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_Img img {
    width: 100%;
}