<div class="banner_home bg-white shadow d-flex justfy-content-center align-items-center">
    <div class="banner_Container">
        <div class="d-flex justfy-content-center align-items-center"  >
            <div class="banner_text">
                <h1>Aspernatur quis ex ad dolorem officia voluptates saepe <span class="text-primary"> placeat ratione iste!</span></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptatem laborum molestias rem fuga, magni incidunt voluptates saepe dolores, aspernatur quis ex ad dolorem officia eligendi placeat autem, ratione iste!</p>
                <button class="btn btn-warning btn-lg">Lorem Ipsum Sit Amet</button>
            </div>
            <div class="banner_Img">
                <img class=" px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="assets/img/undraw_education_f8ru.svg" alt="">
            </div>
        </div>
        
    </div>
  
</div>
