<a class="headerHome_Logo" routerlink="home">
  <div class="headerHome_Logo_letra">0</div>
  <div class="headerHome_Logo_divider"></div>
  <div class="headerHome_Logo_letra">r</div>
  <div class="headerHome_Logo_divider"></div>
  <div class="headerHome_Logo_letra">d</div>
  <div class="headerHome_Logo_divider"></div>
  <div class="headerHome_Logo_letra">e</div>
  <div class="headerHome_Logo_divider"></div>
  <div class="headerHome_Logo_letra orange">n</div>
  <div class="headerHome_Logo_divider"></div>
  <div class="headerHome_Logo_letra">4</div>
</a>
