<div class="container-fluid">
    <div class="col-8 mt-4">
      <div class="row">
        <h1 class="h3 mb-0 myTitulo text-primary">SELECTION SORT</h1>
      </div>
      <div class="row">
        <div class="mt-1 separador-titulo"></div>
      </div>
  
      <div class="row">
        <div class="mt-4">
          <h5>
            <strong
              >Sed in quam cursus, faucibus nibh sit amet, mattis neque.</strong
            >
          </h5>
        </div>
        <div class="mt-3">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In imperdiet
            bibendum augue vitae sollicitudin. Fusce ornare ullamcorper lacus.
            Vestibulum vitae neque vitae lacus pharetra vehicula et tincidunt
            libero. Faucibus nibh sit amet, mattis neque. Pellentesque habitant
            morbi tristique senectus et netus et malesuada fames ac turpis
            egestas. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Integer porta purus a porttitor feugiat. Quisque varius eros vel neque
            sollicitudin, eu maximus purus sollicitudin. Nulla sodales sed lacus
            sit amet faucibus. Integer pretium porta nunc, quis scelerisque velit
            gravida a.
          </p>
  
          <p>
            Donec aliquet lacus sed massa maximus, at molestie eros commodo. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos. Aenean bibendum, magna a venenatis aliquam, nunc
            mi posuere dolor, non laoreet magna nunc et orci. Vivamus quis sapien
            eget leo mollis aliquet. Nunc enim felis, ullamcorper quis libero at,
            feugiat euismod massa. Sed fermentum augue eget turpis vestibulum, id
            auctor sapien tincidunt. Quisque mollis nec arcu vitae tristique. Cras
            eget diam eget mi fermentum molestie a sit amet sapien. Fusce iaculis
            lorem odio, vel lacinia velit sagittis non. Pellentesque eu posuere
            sem.
          </p>
  
          <p>
            Aliquam ultrices justo orci, sed consequat nulla tincidunt quis.
            Aliquam congue eros quis arcu gravida, et consequat risus consequat.
            Fusce sapien nisi, finibus vitae ligula blandit, fermentum egestas
            massa. Vestibulum commodo consequat tortor, eleifend ultrices mi
          </p>
  
          <div class="d-flex">
            <a routerLink="simulacao-selection" class="text-primary mr-4"
              ><i class="fas fa-arrow-right text-primary"></i> Ir para
              simulação</a
            >
            <a routerLink="exercicios-selection" class="text-primary"
              ><i class="fas fa-arrow-right text-primary"></i> Ir para
              exercícios</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  