<div class="card border-left-primary text-dark shadow mb-4">
  <!-- Card Header - Accordion -->
  <a
    href="#collapseCardExample"
    class="d-block card-header py-3"
    data-toggle="collapse"
    role="button"
    aria-expanded="true"
    aria-controls="collapseCardExample"
  >
    <h6 class="m-0 font-weight-bold text-primary">Objetivo</h6>
  </a>
  <!-- Card Content - Collapse -->
  <div class="collapse show" id="collapseCardExample">
    <div class="card-body">
      <div>
        <p class="text-sm">
          <i class="far fa-arrow-alt-circle-right text-primary"></i> Criar
          sequência numérica.
        </p>
        <p class="text-sm">
          <i class="far fa-arrow-alt-circle-right text-primary"></i> Percorra a
          sequência e execute as seguintes operações  :
        </p>

        <div>
          <p class="text-sm">
            1. <strong>Compare</strong> dois elementos adjacentes. <br>
            2. Se os elementos não estiverem em ordem, <strong>ordene</strong>.<br>
            3. Senão, <strong>avance</strong> para o próximo par.<br>
            4. <strong>Repita</strong> a operação até que não haja mais trocas a serem feitas.
          </p>

        </div>

      </div>
    </div>
  </div>
</div>
