<div class="container-fluid">
    <app-navbar [isSimulacao]="true"></app-navbar>
  
    <div class="mt-3">
      <div class="main-content-component">
        <div class="content-component-title text-secondary">
          <h1>Simulação Quick Sort</h1>
          <div class="mt-1 separador-titulo bg-secondary"></div>
        </div>
        
        <div>
          <div class="content-component-descricao">
          
            <div class="alert alert-warning medio">
              <i class="fas fa-exclamation-triangle orange"></i>
              Se não tem certeza de como prosseguir, verifique os 
              <a 
                routerLink="#" 
                class="text-primary"
                data-target="#modal_objetivos"
                data-toggle="modal"
              >
              objetivos</a> ou o  <a 
              routerLink="#" 
              class="text-primary"
              data-target="#modal_codigo"
              data-toggle="modal"
            >
              código</a>.
            </div>
  
            <div class="alert alert-warning desktop">
              <i class="fas fa-exclamation-triangle orange"></i>
              Se não tem certeza de como prosseguir, verifique os objetivos ou o
              código.
            </div>
          </div>
  
          <div id="botoesTopo">
            <div class="botoesTopo">
              <button
                id="btnCriarSequencia"
                class="btn btn-primary"
              
                title="Criar"
                [hidden]="indSequenciaCriada"
                (click)="abrirModalAreaEmConstrucao()"
              >
                <i class="fas fa-plus"></i>
                Criar sequência numérica
              </button>
  
            
            </div>
          </div>
        </div>
  
        <div class="content-component-main">
          <div class="component-main-img">
            <img src="assets/img/undraw_Graduation_re_gthn.svg" alt="" />
          </div>
  
        
        </div>
  
        <div class="right-sidebar">
          <div id="objetivos">
            <ng-container>
              <div class="right-sidebar-title ">
                Objetivos
                <div class="text-divider bg-claro"></div>
              </div>
            </ng-container>
  
            <div class="right-sidebar-content">
              <ng-container>
                <a 
                  routerLink="#" 
                  class="link_quick"
                  data-target="#modal_objetivos"
                  data-toggle="modal"
                >
                <i class="far fa-arrow-alt-circle-right orange"></i>
                  Clique aqui para ver os objetivos
                </a>
              </ng-container>
            </div>
          </div>
  
          <div id="codigo">
            <ng-container>
              <div class="right-sidebar-title">
                Código
                <div class="text-divider bg-claro"></div>
              </div>
              <div class="right-sidebar-content code">
                <ng-container>
                  <span class="blue italic">void </span>
              <span>quick_sort</span>
              <span>(</span>
              <span class="blue italic">int </span>
              <span>*a</span>
              
              <span>,</span>
              <span class="blue italic"> int </span>
              <span>left</span>
              <span>,</span>
br
              <span class="blue italic"> int </span>
              <span>right</span>
              <span>) </span>
                </ng-container>
                
                <!-- abre chaves -->
                <span>&#123; </span> 
                
                <div class="vertical-line">
                  <div class="tab-space">
                    <br>
                    <span class="blue italic">int </span>
                    <span>i, j, x, yx;</span>
                    <br /><br /> 

                    <div>
                      i = left;<br />
                      j = right;<br />
                      x = a[(left + right) / 2];
                      
                      <br>
                      <br>
  
                    </div>

                    while(i <= j) 
                     <!-- abre chaves -->
                    <span>&#123; </span> 

                    <div class="vertical-line">
                      <div class="tab-space">
                        <!-- WHILE 1 -->
                        <ng-container>
                          while(a[i] < x && i < right) 
                           <!-- abre chaves -->
                          <span>&#123; </span> 
                          <div class="vertical-line">
                            <div class="tab-space">i++;</div>
                          </div>

                           <!-- fechamemto -->
                           <span>&#125;</span>
                        </ng-container>
                        <br> <br>

                        <!-- WHILE 2 -->
                        <ng-container>
                          while(a[j] > x && j > left) 
                           <!-- abre chaves -->
                          <span>&#123; </span> 
                          <div class="vertical-line">
                            <div class="tab-space">j--;</div>
                          </div>

                           <!-- fechamemto -->
                           <span>&#125;</span>
                        </ng-container>

                        <br><br>  
                        <ng-container>
                          if(i <= j)
                           <!-- abre chaves -->
                           <span>&#123; </span> 
                           <div class="vertical-line">
                             <div class="tab-space">
  
                                y = a[i]; <br>
                                a[i] = a[j];<br>
                                a[j] = y;<br>
                                i++;<br>
                                j--;<br>
  
                             </div>
                            </div>
                            <!-- fechamemto -->
                           <span>&#125;</span>
                        </ng-container>
                        

                        
                      </div>
                    </div>
                    <!-- fechamemto -->
                    <span>&#125;</span>
                    
                    <!-- if 1 -->
                    <div class="tab_space">
                      if(j > left)
                      <!-- abre chaves -->
                      <span>&#123; </span> 

                 

                      <div class="vertical-line">
                        <div class="tab-space">
                          quick_sort(a, left, j);
                        </div>
                      </div>
                       <!-- fechamemto -->
                      <span>&#125;</span>
                    </div>

                    <!-- if 2 -->
                    <div class="tab_space">
                      if(j < right)
                      <!-- abre chaves -->
                      <span>&#123; </span> 

                 

                      <div class="vertical-line">
                        <div class="tab-space">
                          quick_sort(a, i, right);
                        </div>
                      </div>
                       <!-- fechamemto -->
                      <span>&#125;</span>
                    </div>
                    


                  </div>
                </div>
                <!-- fechamemto -->
                <span>&#125;</span>
                
                
              </div>
            </ng-container>
  
          </div>
        </div>
      </div>
    </div>
  
    
  </div>
  








  <!-- modal ÁREA EM CONSTRUÇÃO -->
  <div 
    class="modal fade" 
    bsModal 
    #modalAreaEmConstrucao="bs-modal" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="dialog-events-name"
  >

  <div class="modal-dialog modal-md">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">EITA!</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="fecharModalAreaEmConstrucao()">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

      <div class="modal-body">
        <div class="modal_vetorOrdenado">
          
          <img class="mt-4" src="assets/img/undraw_good_team_m-7-uu.svg" alt="">
          <div class="areaConstrucao_emoji">
            <h5 class="m-1">Você encontrou uma área ainda em construção!</h5>
          </div>

          <p>Os Bitz estão trabalhando para criar a simulação do Quick Sort o mais rápido possível. <span><img style="width: 1.5rem" src="assets/img/astonished-face.svg" alt=""></span> </p>
          
        </div>
      </div>





      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" (click)="fecharModalAreaEmConstrucao()">

          VOLTO DEPOIS

        </button>

      </div>

    </div>

  </div>

  </div>

  <!-- modal objetivos -->
  <div id="modal_objetivos" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-black">OBJETIVOS</h5>
          <button
            type="button"
            class="close text-primary p-1"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="objetivos">
  
            <div class="right-sidebar-content">
              <ng-container>
                <p>
                  <i class="far fa-arrow-alt-circle-right orange"></i> Criar
                  sequência numérica.
                </p>

                <p>
                  <i class="far fa-arrow-alt-circle-right orange"></i> Criar
                  variável auxiliar.
                </p>
    
                <p class="text-sm">
                  <i class="far fa-arrow-alt-circle-right orange"></i>
                  Executar as operações abaixo:
                </p>
    
                <div class="tab-space">
                  1. Escolher um elemento da lista, denominado pivô.<br>
                  2. Rearranjar a lista de forma que todos os elementos anteriores ao pivô sejam menores que esse e todos os elementos posteriores ao pivô sejam maiores.<br> 
                  3. Recursivamente, ordenar a sublista dos elementos menores e a sublista dos elementos maiores.
                </div>
              </ng-container>
  
              
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary myButton"
            data-dismiss="modal"
          >
            ENTENDI
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- modal codigo -->
  <div id="modal_codigo" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-black">CÓDIGO</h5>
          <button
            type="button"
            class="close text-primary p-1"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <!-- código quick aqui -->
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary myButton"
            data-dismiss="modal"
          >
            ENTENDI
          </button>
        </div>
      </div>
    </div>
  </div>
  
 
