<div id="wrapper" class="esconderDesktop">
  <div class="desktop">
    <app-sidebar></app-sidebar>
  </div>

  <div id="content-wrapper" class="main-content-window">
    <div id="content">
      <!-- <app-navbar></app-navbar> -->


      <div class="medio">
        <div class="myHeader">
            <div class="logo_myHeader">
              <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink text-primary"></i>
              </div>
              <div class="brand_myHeader text-primary">
                AJUDAÊ
              </div>
            </div>

            
            <div class="linksMenu">
                          
              <div class="dropdown show">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Bubble Sort
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" routerLink="about-bubble-sort">Sobre o método</a>
                  <a class="dropdown-item" routerLink="simulacao-bubble">Simulação</a>
                </div>
              </div>

              <div class="dropdown show">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Selection Sort
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" routerLink="about-selection-sort">Sobre o método</a>
                  <a class="dropdown-item" routerLink="simulacao-selection">Simulação</a>
                </div>
              </div>
            </div>
        </div>
      </div>


      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="exibirMobile">
  <div class="container_mensagem_mobile">
    <div class="mensagem_mobile">
      <div class="coisa text-primary">
        Ooops!
      </div>
      <div class="mensagem_img">
        <img src="assets/img/undraw_online_test_gba7.svg" alt="">
      </div>
      <div class="mensagem_content">
        <div class="mensagem_texto_titulo text-primary">
          É uma pena mas...
        </div>
        <div class="mensagem_texto">
          Essa aplicação não foi projetada para dispositivos com telas menores que 574px. Você desfrutará melhor de todas as funcionalidades se utilizá-la em um dispositivo acima de 1355px. 
        </div>
      </div>

    </div>
  </div>
</div>