<ng-container>

<ul [hidden]="indHome" class="navbar-nav bg-light sidebar left-sidebar accordion text-secondary" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <!-- <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="home">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink text-primary"></i>
        </div>
        <div class="sidebar-brand-text mx-3 text-primary text-lg"><em>AJUDAÊ</em></div>
    </a> -->
    
    <app-logo></app-logo>


    <!-- Divider -->
    <hr class="sidebar-divider ">

    <!-- Nav Item - Dashboard -->
    <!-- <li class="nav-item">
        <a class="nav-link" routerLink="home">
            <i class="fas fa-home fa-home-alt"></i>
            <span>Home</span></a>
    </li> -->

    <!-- Divider -->
    <!-- <hr class="sidebar-divider"> -->

    <!-- Heading -->
    <!-- <div class="sidebar-heading">
        Métodos de Ordenação
    </div> -->

    <!-- Nav Item - Bubble Sort -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#bubbleSort"
            aria-expanded="true" aria-controls="bubbleSort">
            <!-- <i class="far fa-circle"></i> -->
            <span>Bubble Sort</span>
        </a>
        <div id="bubbleSort" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <!-- <h6 class="collapse-header">Custom Components:</h6> -->
                <a class="collapse-item" routerLink="about-bubble-sort">Sobre o método</a>
                <a class="collapse-item" routerLink="simulacao-bubble">Simulação</a>
                <!-- <a class="collapse-item" routerLink="exercicios-bubble-sort">Exercícios</a> -->

            </div>
        </div>
    </li>


    <!-- Nav Item - Selection Sort -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#selectionSort"
            aria-expanded="true" aria-controls="selectionSort">
            <!-- <i class="fas fa-compress-alt"></i> -->
            <span>Selection Sort</span>
        </a>
        <div id="selectionSort" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <!-- <h6 class="collapse-header">Custom Utilities:</h6> -->
                <a class="collapse-item" routerLink="about-selection-sort">Sobre o método</a>
                <a class="collapse-item" routerLink="simulacao-selection">Simulação</a>
                <!-- <a class="collapse-item" routerLink="exercicios-selection-sort">Exercícios</a> -->

            </div>
        </div>
    </li>

     <!-- Nav Item - Insertion Sort -->
    <li class="nav-item" *ngIf="true">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#insertionSort"
          aria-expanded="true" aria-controls="insertionSort">
          <!-- <i class="fas fa-sign-in-alt"></i> -->
          <span>Insertion Sort</span>
      </a>
      <div id="insertionSort" class="collapse" aria-labelledby="headingUtilities"
          data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
              <!-- <h6 class="collapse-header">Custom Utilities:</h6> -->
              <a class="collapse-item" routerLink="about-insertion-sort">Sobre o método</a>
              <a class="collapse-item" routerLink="simulacao-insertion">Simulação</a>
              <!-- <a class="collapse-item" routerLink="exercicios-insertion-sort">Exercícios</a> -->

          </div>
      </div>
    </li>

   <!-- Nav Item - Quick Sort -->
    <li class="nav-item" *ngIf="true">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#quickSort"
        aria-expanded="true" aria-controls="quickSort">
        <!-- <i class="fas fa-compress-alt"></i> -->
        <span>Quick Sort</span>
    </a>
    <div id="quickSort" class="collapse" aria-labelledby="headingUtilities"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <!-- <h6 class="collapse-header">Custom Utilities:</h6> -->
            <a class="collapse-item" routerLink="about-quick-sort">Sobre o método</a>
            <a class="collapse-item" routerLink="simulacao-quick">Simulação</a>
            <!-- <a class="collapse-item" routerLink="exercicios-quick-sort">Exercícios</a> -->

        </div>
    </div>
    </li>

   

   

   

</ul>

</ng-container>