<div class="container-fluid">
  <div class="d-flex mt-4">
    <div class="col-9 mr-3">
      <div class="row">
        <h1 class="h3 mb-0 myTitulo text-primary">BUBBLE SORT</h1>
      </div>
      <div class="row">
        <div class="mt-1 separador-titulo"></div>
      </div>

      <div class="row mt-3">
        <div class="myDescricao">
          <p>
            O bubble sort, ou ordenação por flutuação, é um algoritmo de
            ordenação dos mais simples. A ideia é percorrer o vetor diversas
            vezes, e a cada passagem fazer flutuar para a direita o maior
            elemento da sequência. A complexidade desse algoritmo é de ordem
            quadrática. Ler mais
          </p>
        </div>

        <div id="botoesTopo">
          <div>
            <button
              id="btnCriarSequencia"
              class="btn btn-success mr-3 myButton"
              data-target="#modal_criarSequencia"
              data-toggle="modal"
              title="Criar"
              [hidden]="indSequenciaCriada"
            >
              Criar sequência numérica
            </button>

            <div class="d-flex justify-content-between">
              <button
                *ngIf="indDadosForm"
                class="btn btn-secondary myButton mr-3"
                (click)="limpar()"
              >
                Recomeçar
              </button>

              <button
                *ngIf="indDadosForm"
                class="btn btn-success myButton"
                (click)="criarVariavelAuxiliar()"
                [hidden]="indAuxiliarCriada"
              >
                Criar variável auxiliar
              </button>
            </div>
          </div>
        </div>
      </div>

      <hr class="row sidebar-divider" />

      <div class="text-center">
        <div
          class="d-flex justify-content-center align-items-center"
          style="height: 410px"
          *ngIf="!indDadosForm"
        >
          <h3>Não há nada aqui ainda... <i class="far fa-frown"></i></h3>
        </div>

        <div *ngIf="indDadosForm" >
         
          <div
            *ngIf="!mensagemInfo && !mensagemAlerta && !mensagemAtencao"
            class="row alert alert-light fade show text-left">
            <i class="fas fa-exclamation-triangle text-warning text-lg mr-2"></i>
              Se não tem certeza de como prosseguir, verifique os objetivos ou 
              <span
                (click)="receberDica()"
                class="text-primary font-italic dicas ml-2 mr-2"
                >clique aqui</span> para receber dicas.
          </div>

          <div
          *ngIf="mensagemAlerta"
            class="alert alert-warning fade show text-left" role="alert">
            <strong>Hey! </strong> {{ mensagemAlerta }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="limparMensagem()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div
          *ngIf="mensagemAtencao"
            class="alert alert-danger alert-dismissible fade show text-left" role="alert">
            <strong>Atenção: </strong> {{ mensagemAtencao }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="limparMensagem()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
          <div
          *ngIf="mensagemInfo"
            class="alert alert-info alert-dismissible fade show text-left" role="alert">
            <strong>Hey!</strong> {{ mensagemInfo }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="limparMensagem()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="d-flex align-items-center">
            <div class="d-flex col-11 m-0 p-0">
              <div
                class="col-1 m-2 ml-0 p-0"
                *ngFor="let item of randArray; let i = index"
              >
                <div>
                  <small class="mb-4">[ {{ i }} ]</small>
                  <div
                    [attr.id]="i"
                    (click)="selecionarCard(i)"
                    class="card col-12 p-2 mr-4 bg-info text-info arrayCard myArrayElement"
                  >
                    
                    <h1 class="m-0">
                      <strong>{{ item }}</strong>
                    </h1>
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex col-11 m-0 p-0">
              <div class="col-1 m-2 ml-0 p-0" *ngIf="indAuxiliarCriada">
                <div>
                  <small class="mb-4">Auxiliar</small>
                    <div 
                      id="cardAux" 
                      (click) = "isCardAuxSelecionado(cardAux)"
                      class="card col-12 p-2 mr-4 bg-secondary myArrayElement">
                      <h1 class="m-0 text-light">
                        <strong>{{ aux }}</strong>
                      </h1>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div id="botoesBottom" class="mt-5" *ngIf="indAuxiliarCriada">
            <hr />
            <div class="d-flex ">
              <div class="col-10">
                <button
                  *ngIf="indDadosForm"
                  class="btn btn-outline-primary mr-3 myButton"
                  (click)="moverParaAuxiliar(posCardSelecionado)"
                >
                  Mover para variável auxiliar
                </button>

                <button
                  *ngIf="indDadosForm"
                  class="btn btn-outline-primary mr-3 myButton"
                  (click)="realizarTroca()"
                >
                  Realizar troca das posições
                </button>

                <button
                  *ngIf="indDadosForm"
                  class="btn btn-outline-primary mr-3 myButton"
                  (click)="moveParaVetor()"
                >
                  Mover para o vetor
                </button>
              </div>

              <div class="col-2">
                <button
                  *ngIf="indDadosForm"
                  class="btn btn-outline-success myButton"
                  (click)="avancar()"
                >
                  Avançar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <app-collapse-card-objetivo> </app-collapse-card-objetivo>

      <div *ngIf="true" class="card text-dark shadow mb-4">
        <!-- Card Header - Accordion -->
        <a
          href="#dicas"
          class="d-block card-header py-3"
          data-toggle="collapse"
          role="button"
          aria-expanded="true"
          aria-controls="dicas"
        >
          <h6 class="m-0 font-weight-bold text-primary">Dicas</h6>
        </a>
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="dicas">
          <div class="card-body">Você ainda não pediu nenhuma dica</div>
        </div>
      </div>

      <div *ngIf="true" class="card bg-gray-900 text-gray-300 shadow mb-4">
        <!-- Card Header - Accordion -->
        <div class="d-block card-header py-3 bg-gray-900">
          <h6 class="m-0 font-weight-bold text-gray-300">Código</h6>
        </div>
        <!-- Card Content - Collapse -->
        <div class="collapse show">
          <div class="card-body">Código aparecerá aqui</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal criar sequencia -->
<div id="modal_criarSequencia" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-black">CRIAR SEQUÊNCIA NUMÉRICA</h5>
        <button
          type="button"
          class="close text-primary p-1"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Ao clicar em avançar, será criada uma
          <strong>sequência numérica aleatória com números entre 0 e 9.</strong>
        </p>
        <div
          *ngIf="mensagemAtencao"
            class="alert alert-danger alert-dismissible fade show text-left" role="alert">
            <strong>Atenção: </strong> {{ mensagemAtencao }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="limparMensagem()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <form #formCriaSequencia="ngForm" autocomplete="off">
          <div class="row">
            <!-- <div class="form-group col-6">
              <label for="sequencia">Nome do vetor:</label>
              <input
                ngModel
                name="vetor"
                type="tel"
                class="form-control"
                id="sequencia"
                aria-describedby="emailHelp"
                placeholder="Vetor"
              />
            </div> -->
            <div class="form-group col-6">
              <label for="tamanho">Tamanho do vetor:</label>
              <input
                ngModel
                name="tamanho"
                type="tel"
                class="form-control"
                id="tamanho"
                placeholder="De 1 a 9"
                maxlength="1"
                
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary myButton"
          data-dismiss="modal"
          (click)="criarSequenciaNumerica(formCriaSequencia)"
        >
          Avançar
        </button>
      </div>
    </div>
  </div>
</div>

