<section class="banner_background">
    <div class="meu_container">
      <div class="header desktop">
        <app-logo></app-logo>
      </div>
  
      <div>

        <div class="d-flex justify-content-between">

            <div class="mt-5 mb-5">
              <a
                routerLink="#"
                class="text-primary mr-4"
                (click)="redirecionarParaPaginaAnterior()"
              >
                <i class="fas fa-arrow-left text-primary"></i> voltar</a
              >
            </div>

            <div class="mt-5 mb-5">
                <a
                  routerLink="#"
                  class="text-primary mr-4"
                  (click)="redirecionarParaImportanciaMetodos()"
                >
                Por que estudar esses métodos?
                  <i class="fas fa-arrow-right text-primary mr-3"></i></a
                >
              </div>
        </div>



        <div class="col">
          <h3 class="titulo">O que são métodos de ordenação?</h3>
          <h4 class="subtitulo">
            A curiosidade é uma coisa boa e trouxe você até aqui. Essa é uma página para pessoas curiosas que gostam de saber um pouco mais além do conhecimento que lhes é oferecido
            inicialmente.
            <strong>A curiosidade é uma excelente qualidade para quem deseja atuar na área de
              tecnologia já que é uma área que muda rapidamente a cada dia.
            </strong>
          </h4>
        
        </div>
  
          <div class="col texto_corrido">

            <p>
              Métodos de ordeação são algoritmos que se ocupam da ordenação e reordenação de elementos com o objetivo de recuperar os seus itens. Eles costumam fazer parte do currículo de cursos de tecnologia da informação e engenharia da computação, dada a importância da aquisição das competências técnicas daqueles que pretendem atuar nessa área. 
            </p>

            <p>
              Você pode imaginar que lidar com dados ou informações sem nenhum tipo de organização é uma tarefa dispendiosa e demorada. Em qualquer contexto, <strong>para organizar dados e informações é necessária a sua ordenação.</strong> Em computação, existem algoritmos eficientes que utilizam diferentes técnicas para resolver problemas comuns de ordenação, cada um com sua peculiaridade.
            </p>

            <p>
              Esses algoritmos se dividem em métodos de ordenação interna e externa. Em uma ordenação interna, o processo pode ser realizado utilizando-se capacidade da memória RAM, pois todos os elementos cabem nela. Isso permite o acesso imediato aos seus elementos. Na ordenação externa é necessário realizar  um processo de leitura e escrita dos registros a fim de possibilitar a ordenação.
            </p>
  
            <p>
              Um algoritmo também é analisado segundo a sua complexidade, ou seja, o seu tempo de execução. Essa é a relação entre a quantidade de elementos que precisam ser ordenados e o tempo gasto nessa ordenação. No Ordena são abordados os algoritmos insertion sort, selection sort, quicksort e bubble sort.
            </p>
          
          </div>
        
      </div>
    </div>
  </section>
  
  <section class="estouPronto">
      <div class="meu_container">
        <div class="estouPronto_content">
          <h1 class="estouPronto_Titulo">Então, vamos lá?</h1>
          <h4 class="estouPronto_Subtitulo">
            Só clicar nesse botão aí embaixo para começar.
          </h4>
          <button
            id="btnCriarSequencia"
            class="btn btn-lg btn-outline-primary"
            title="Começar"
            (click)="redirecionarParaMetodos()"
          >
            Começar
        </button>
    
        </div>
    
      </div>
      
    
    </section>
  