<section class="banner_background">
    <div class="meu_container">
      <div class="header desktop">
        <app-logo></app-logo>
      </div>
  
      <div>

        <div class="d-flex justify-content-between">

            <div class="mt-5 mb-5">
              <a
                routerLink="#"
                class="text-primary mr-4"
                (click)="redirecionarParaPaginaAnterior()"
              >
                <i class="fas fa-arrow-left text-primary"></i> voltar</a
              >
            </div>

            <div class="mt-5 mb-5">
                <a
                  routerLink="#"
                  class="text-primary mr-4"
                  (click)="redirecionarParaImportanciaMetodos()"
                >
                Por que estudar esses métodos?
                  <i class="fas fa-arrow-right text-primary mr-3"></i></a
                >
              </div>
        </div>



        <div class="col">
          <h3 class="titulo">O que são métodos de ordenação?</h3>
          <h4 class="subtitulo">
            A curiosidade é uma coisa boa e trouxe você até aqui. Essa é uma página para pessoas curiosas que gostam de saber um pouco mais além do conhecimento que lhes é oferecido
            inicialmente.
            <strong>A curiosidade é uma excelente qualidade para quem deseja atuar na área de
              tecnologia já que é uma área que muda rapidamente a cada dia.
            </strong>
          </h4>
        
        </div>
  
          <div class="col texto_corrido">
            <p>
             <em>Área em construção</em>
            </p>
  
          
          </div>
        
      </div>
    </div>
  </section>
  
  <section class="estouPronto">
      <div class="meu_container">
        <div class="estouPronto_content">
          <h1 class="estouPronto_Titulo">Então, vamos lá?</h1>
          <h4 class="estouPronto_Subtitulo">
            Só clicar nesse botão aí embaixo para começar.
          </h4>
          <button
            id="btnCriarSequencia"
            class="btn btn-lg btn-outline-primary"
            title="Começar"
            (click)="redirecionarParaMetodos()"
          >
            Começar
        </button>
    
        </div>
    
      </div>
      
    
    </section>
  