
<div class="container-fluid">
  <app-navbar 
    [isSimulacao]="false"
  ></app-navbar>

  <div class="mt-4">
    <div class="main-content-component">
      <div class="content-component-title text-secondary">
        <h1>Sobre o insertion Sort</h1>
        <div class="mt-1 separador-titulo bg-secondary"></div>
      </div>
     
      <!-- <div>
        <div class="content-component-descricao">
          <p>Insertion Sort, ou ordenação por inserção, é um algoritmo de ordenação que, dado uma estrutura (array, lista) constrói uma matriz final com um elemento de cada vez, uma inserção por vez. Assim como algoritmos de ordenação quadrática, é bastante eficiente para problemas com pequenas entradas, sendo o mais eficiente entre os algoritmos desta ordem de classificação.</p>

          <p>Podemos fazer uma comparação do Insertion Sort com o modo como algumas pessoas organizam um baralho num jogo de cartas. Imagine que você está jogando ás cartas. Você está com as cartas na mão e elas estão ordenadas. Você recebe uma nova carta e deve colocá-la na posição correta da sua mão de cartas, de forma a que as cartas obedeçam à ordenação.</p>

          <p>
            A cada nova carta adicionada à sua mão de cartas, a nova carta pode ser menor que algumas das cartas que você já tem na mão ou maior, e assim, você começa a comparar a nova carta com todas as cartas na sua mão até encontrar sua posição correta. Você insere a nova carta na posição correta, e, novamente, a sua mão é composta de cartas totalmente ordenadas. Então, você recebe outra carta e repete o mesmo procedimento. Então outra carta, e outra, e assim em diante, até não receber mais cartas.
          </p>

          <p>Esta é a ideia por trás da ordenação por inserção. Percorra as posições do array, começando com o índice 1 (um). Cada nova posição é como a nova carta que você recebeu, e você precisa inseri-la no lugar correto no subarray ordenado à esquerda daquela posição.</p>
        </div>
      </div> -->
    
      <div>
        <div class="content-component-descricao">
          <p>Imagine que você está jogando cartas. Você está com as cartas na mão, e elas estão ordenadas. Você recebe exatamente uma nova carta. Você deve colocá-la na posição correta, de forma que as cartas na sua mão continuem ordenadas. Na ordenação por seleção, cada elemento que você adiciona ao subarray ordenado não é menor que os elementos que já estão no subarray ordenado. Mas no nosso exemplo de cartas, a nova carta pode ser menor que algumas das cartas que você já está segurando, e então você as examina, comparando a nova carta com todas as cartas na sua mão, até encontrar a posição para colocá-la. Você insere a nova carta na posição correta, e, novamente, sua mão é composta de cartas totalmente ordenadas. Então, você recebe outra carta e repete o mesmo procedimento. Então outra carta, e outra, e assim por diante, até você não receber mais cartas.</p>

          <p>Esta é a ideia por trás da ordenação por inserção. Percorra as posições do array, começando com o índice 1. Cada nova posição é como a nova carta que você recebeu, e você precisa inseri-la no lugar correto no subarray ordenado à esquerda daquela posição  </p>

          <small>Fonte: https://pt.khanacademy.org/computing/computer-science/algorithms/insertion-sort/a/insertion-sort</small>
      </div>
    
    </div>
  </div>

  <div class="d-flex mb-5 mt-3">
    <a routerLink="../simulacao-insertion" class="text-primary mr-4"
      ><i class="fas fa-arrow-right text-primary"></i> Ir para
      simulação</a
    >
    <!-- <a routerLink="exercicios-insertion-sort" class="text-primary"
      ><i class="fas fa-arrow-right text-primary"></i> Ir para
      exercícios</a
    > -->
  </div>
</div>

     
  


