<section class="banner_background">
  <div class="meu_container">
    <div class="header desktop">
      <app-logo></app-logo>
    </div>

    <div>
      <div class="mt-5 mb-5">
        <a
          routerLink="#"
          class="text-primary mr-4"
          (click)="redirecionarParaPaginaAnterior()"
        >
          <i class="fas fa-arrow-left text-primary"></i> voltar</a
        >
      </div>
      <div class="col">
        <h3 class="titulo">Por que estudar métodos de ordenação?</h3>
        <h4 class="subtitulo">
          A curiosidade é uma coisa boa e trouxe você até aqui. Essa é uma página para pessoas curiosas que gostam de saber um pouco mais além do conhecimento que lhes é oferecido
          inicialmente.
          <strong>A curiosidade é uma excelente qualidade para quem deseja atuar na área de
            tecnologia já que é uma área que muda rapidamente a cada dia.
          </strong>
        </h4>
      
      </div>

        <div class="col texto_corrido">
          <p>
            Atualmente, milhares de informações são criadas, modificadas e
            apagadas em ambientes tecnológicos variados e de complexidades
            diversas. Para exemplificar, pode-se pensar na ação de salvar um
            contato telefônico. Há alguns anos, era comum possuir uma agenda
            onde eram armazenadas as informações de contato de uma pessoa.
            Geralmente, as agendas usadas para esse fim possuíam, na borda das
            suas páginas, uma marcação alfabética para facilitar a busca de um
            contato. Se os contatos fossem registrados obedecendo a ordem
            alfabética, encontrar um contato seria fácil. Mas, se em vez disso,
            os contatos fossem registrados desordenadamente, encontrar um número
            de telefone requeria folhear cada uma das páginas. Isso se tornaria
            um problema à medida que a quantidade de contatos fosse aumentando.
          </p>

          <p>
            Hoje em dia, o aparelho celular é utilizado para registrar números
            de telefone. E, assim como ocorria com a agenda, é necessário que a
            lista de contatos esteja ordenada para que, ao buscar por um contato
            específico, obtenha-se o resultado o mais rápido possível.
          </p>

          <p>
            Uma situação semelhante, porém mais complexa, é o registro de dados
            originados em diversos canais como sistemas, e-mails, redes sociais
            e outros que é realizado por grandes corporações. As informações
            obtidas a partir desses dados permitem que empresas aprimorem suas
            estratégias e adquiram um diferencial competitivo. Após a obtenção
            do dado e de sua interpretação é possível, por exemplo, identificar
            padrões e prever tendências no mercado de acordo com as quais a
            empresa poderia direcionar seus produtos e serviços a fim de obter
            melhores resultados. Esse modelo de uso dos dados para tomada de
            decisão é conhecido como Business Intelligence (BI).
          </p>

          <p>
            Esses exemplos retratam, em cenários de diferentes complexidades, a
            importância de ordenar e reordenar os dados registrados. Em se
            tratando de sistemas computacionais, independente da complexidade do
            cenário, os dados imputados são armazenados em estruturas lógicas na
            memória do computador. Em TI, empenha-se por formas eficientes de
            ordenar essas estruturas pois, como visto, é a ordenação que permite
            encontrar um de seus elementos dentre tantos outros numa lista
            muitas vezes quase infindável.
          </p>

          <p>
            É por esse motivo que os estudantes de TI, quando aprendem a
            programar, aprendem sobre os métodos de ordenação disponíveis, suas
            estratégias e aplicações. Compreender, saber aplicar e replicar
            essas estratégias e, sobretudo, ser capaz de pensar em novas
            soluções pode posicionar favoravelmente o recém graduado
            profissional de TI em um mercado de trabalho em constantes mudanças.
          </p>
        </div>
      
    </div>
  </div>
</section>

<section class="estouPronto">
    <div class="meu_container">
      <div class="estouPronto_content">
        <h1 class="estouPronto_Titulo">Então, vamos lá?</h1>
        <h4 class="estouPronto_Subtitulo">
          Só clicar nesse botão aí embaixo para começar.
        </h4>
        <button
          id="btnCriarSequencia"
          class="btn btn-lg btn-outline-primary"
          title="Começar"
          (click)="redirecionarParaMetodos()"
        >
          Começar
      </button>
  
      </div>
  
    </div>
    
  
  </section>
