/* You can add global styles to this file, and also import other style files */
@import 'assets/vendor/fontawesome-free/css/all.css';
@import 'https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i';
@import 'assets/css/sb-admin-2.min.css';
@import '~ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Roboto:wght@100;400&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    min-height: 100%;
    color: #424242;
    line-height: 1.5;
    letter-spacing: 0.7px;
    font-size: 15px;
    background-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    color: #292929;
    /* font-family: 'Open Sans', sans-serif; */

}

.areaConstrucao_emoji {
    display: flex;
    align-items: center;
    margin-top: 32px;
}



.texto_objetivos {
    overflow-y: auto;
}

.bg-primary {
    background-color: #1865f2 !important ;
}

.bg-secondary {
    background-color: #292929 !important;
}

.bg-claro {
    background-color: rgb(199, 199, 199);
}

.text-primary {
    color: #1865f2 !important;
}

.text-secondary {
    color: #000 !important;
}
.pointer{
    cursor: pointer;
}

/* 
.italic{
    font-style: italic;
} */

.blue {
    color: #1ce4ff;
}

.green {
    color: rgb(26, 211, 66);
}

.orange {
    color: rgb(245, 159, 31);
}

.red{
    color: rgb(255, 83, 92);
}

.toast-container .ngx-toastr {
    
    width: 550px !important;
   
}

.toast-close-button {
    padding-right: 5px !important;
}

.toast-warning {
    background-color: #e2bb0b !important;
}    

.toast-info {
    background-color: #6e30d3!important;
} 

.toast-errror {
    background-color: #9c1818 !important;
    color: #ffffff !important;
}  

.alert-warning {
    background-color: #f9edda;
}

.text-sm {
    font-size: 14px;;
}

.myTitulo {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 8px;
}

.separador-titulo {
    width: 72px;
    height: 3px;
    background-color: #1865f2;

}

.arrayCard {
    background-color: #fff;
    color: #cacaca;
    pointer-events: none;
}

.arrayCard:hover{
    cursor: pointer;
}

.auxCard {
    background-color: #fff;
    color: #cacaca;
    pointer-events: none;
}

.auxCard:hover{
    cursor: pointer;
}


.myArrayElement {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardAberto {
    border-radius: 4px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #36b9cc;
    background-color: #fff;
    color: #36b9cc;
    cursor: pointer;
    font-size: 48px;
    font-weight: bold;
}

.cardSelecionado {
    border-radius: 4px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2bb0b;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
}

.imagem_codigo {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}   

.right-sidebar {
    height: 100%;
    width: 28%;
    position: absolute;
    top: 0;
    right: 0;
    /*border-left: 1px solid rgb(199, 199, 199);*/
    background-color: #2f2e41;
    color: rgb(199, 199, 199);
}



.right-sidebar-title {
    padding: 20px 20px 4px 20px;
    margin: 0px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: rgb(199, 199, 199); 
}

.text-divider{
    width: 40px;
    height: 3px;
    margin-top: 6px;
}

.right-sidebar-content{
    padding: 20px 20px 4px 20px;
    /* font-size: 14px; */
    
}

.code {
    font-family: 'Courier New', Courier, monospace;
    line-height: normal;
    

}

.tab-space {
    padding-left: 16px;
}

.vertical-line {
    margin-left: 4px;
    border-left: 1px solid #cacaca8f;
}

.main-content-window{
    /* background-color: rgb(236, 236, 236) !important; */
    height: inherit !important;
    position: relative;
}

.main-content-component{
    width: 71%;
}

.content-component-title{
    /* margin-top: 42px; */
    margin-bottom: 8px;
}

.content-component-title h1{
    font-size: 24px;
    font-weight: bold;
}

.content-component-descricao {
    margin-top: 24px;
    font-weight: light;
}

.botoesTopo{
    margin-top: 36px;
}

.btn {
    padding: 8px 24px;
    border-radius: 4px;
}

.btn-primary {
    background-color: #1865f2;
    color: #fff;
}


.btn-secondary {
    border: 1px solid #1865f2;
    color: #1865f2;
    background-color: transparent;
}

.btn-secondary:hover {
    border: 1px solid #1865f2;
    color: #fff;
    background-color: #1865f2;
}

.component-main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: inherit;
    height: 400px;
    margin-top: 10px;
}

.component-main-img img {
    width: 50%;
    height: 50%;
    
}

.component-main-img p {
    font-family: 'Courier New', Courier, monospace;
    color: #1865f2;
}


.component-main-simulacao {
    width: 100%;
    height: 300px;
    margin-top: 24px;
    background-color: transparent;
}

.left-sidebar {
    border-right: 1px solid rgb(199, 199, 199);
    padding: 24px;
}

.sidebar .nav-item .nav-link[data-toggle=collapse].collapsed::after {
    display: none;
}

.sidebar .nav-item .nav-link[data-toggle=collapse]::after {
    display: none;

}

.sidebar hr.sidebar-divider {
    margin-bottom: 32px;
}    

.header {
    padding: 48px 32px 24px 0px;
    height: 50px;
    width: 72%;

}

.links-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.myHeader{
    width: 100%;
    height: 100px;
    padding: 16px 24px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 9999;
}

.logo_myHeader {
    display: flex;
    align-items: center;
}
.logo_myHeader i {
    font-size: 32px;
}

.brand_myHeader {
    font-weight: bold;
    font-size: 24px;
    margin-left: 8px;
    font-style: italic;

}

.linksMenu {
    display: flex;

}

.container_mensagem_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 78px 16px;
    text-align: center;
}

.coisa {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 24px;
}
.mensagem_img img {
    width: 45%;
    height: 45%;
}

.mensagem_content {
    margin-top: 24px;
}

.mensagem_texto_titulo {
    font-weight: bolder;
}

.mensagem_texto {
    margin-top: 16px;
    padding: 0px 32px;
}

.exibirMobile {
    display: none;
}

.medio {
    display: none;
}

.rotate {
    transform: rotate(180deg);
}

.botoesBottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 32px;
}

.botoesBottom_Item {
    margin-left: 8px;
}

.botoesBottom_Item:first-child{
    margin-left: 0px;
}

.btn-outline {
    border: 1px solid #464646;
    color: #464646;
}

.btn-outline:hover {
background-color: #464646;
color: white;
}

/* .area-da-simulacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
 } */

/* .espacamento_card {
    margin-right: 12px;
    width: 20%;;
} */

/* .area-da-simulacao_array {
    display: flex;
} */
/* .espacamento_card_aux {
    width: 80px
} */

/*nova area de simulação*/
.cards_areaSimulacao{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.array_areaSimulacao{
    display: flex;
    width: 95%;
}

/* .aux_areaSimulacao{
    background-color: green;
} */

.elementoEposicao{
    width: 8%;
    text-align: center;
    margin-right: 12px;
    flex-basis: 70px;

}

.elementoEposicao_aux{
    text-align: center;
    flex-basis: 70px;
    margin-left: 12px;

    
}

.elementoEposicao_min{
    text-align: center;
    flex-basis: 70px;
    margin-left: 12px;
}


.aux_areaSimulacao {
    flex-basis: 70px;
    width: 8%;

}

.elementoVetor{
    user-select: none;
    height: 100px;
    border-radius: 3px;
    padding:14px;
    background-color:#36b9cc;
    color: #36b9cc;
    box-shadow: 1px 1px 6px #c9c9c9;
    font-size: 3em;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;    
}

.elementoAuxiliar {
    background-color:#000;
    color: #fff;
    cursor: pointer;
}

.elementoVetorAberto {
    border: 1px solid #36b9cc;
    background-color: #fff;
    color: #36b9cc;
    cursor: pointer;
}

.elementoVetorSelecionado {
    background-color: #e2bb0b;
    color: #fff;
    box-shadow: none;
}


.modal_vetorOrdenado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 90%;
    margin: auto;
}
.modal_vetorOrdenado img{
    width: 80%;
    height: 80%;
}

.modal_vetorOrdenado h5{
    text-align: center;
    font-weight: bold;
    color: #1865f2;
    margin-top: 20px;
    font-size: 16px;
}

.modal_vetorOrdenado p{
    font-weight: regular;
    color: #000;
    text-align: center;
}





@media screen and (max-width: 1450px) {
    .botoesBottom_Item {
        margin: 0px 12px 12px 0px;
    }

    .botoesBottom_Item_aux {
        margin-right: 0px;
    }

    /* . {
        width: 60%;
    } */
}

@media screen and (max-width: 1354px) {
    .medio{
        display: block;
    }

    .desktop {
        display: none !important;
    }

    .right-sidebar {
        display: none !important;
    }

    .main-content-component {
        width: 99%;
    }

    .header {
        width: 100%;
        padding-right: 0px;
    }

    .links-header {
        justify-content: space-between;
    }

    .botoesBottom {
        background-color: #ebebeb;
        padding: 20px 20px 0px 20px;
        position: fixed;
        bottom: 0px;
        left: 0;
        
    }

    /* .botoesBottom_Item {
        margin: 0px 12px 12px 0px;
    
    } */
    
    
}

@media screen and (max-width: 788px) {
    .component-main-simulacao {
        width: 90%;
       
    }

}

@media screen and (max-width: 570px) {
    .exibirMobile {
        display: block;
    }

    .esconderDesktop {
        display: none !important;
    }

}

.cardExplicativo_content {
    width: 100%;

}