<!-- <app-welcome-card></app-welcome-card>
<app-card-home></app-card-home> -->

<div class="container-fluid">
    <div class="mt-4">
        <div class="main-content-home">
            <div class="content-home-title">
                <h1 class="text-primary">Que bom ver você por aqui!</h1>
            </div>

            <div class="content-home-descricao">
                <p>
                    Está é uma ferramenta construída para ajudar você a compreender os algoritmos de ordenação mais conhecidos e estudados nos cursos de graduação da área de tecnologia da informação.
                </p>
            </div>    
        </div>    
    </div>
</div>