<section class="banner_background">
    <div class="meu_container">
        <div class="header desktop">
          <app-logo></app-logo>
        </div>
      
        <div class="banner">
          <div class="texto_banner">
            <h1 class="titulo">Que bom ver você por aqui!</h1>
            <h4 class="subtitulo">
              Nosso propósito é facilitar o acesso ao conhecimento para empoderar as pessoas, <strong>transformando o futuro através da tecnologia.</strong>
            </h4>
            <p class="dicasAbaixo_banner mt-3">
              Esta ferramenta irá te ajudar a compreender os fundamentos básicos de
              algoritmos de ordenação. <strong>Abaixo, algumas dicas para você!</strong>
            </p>
         
          </div>
          <div class="banner_Img">
              <div class="circle2"></div>
              <div class="circle"></div>
            <img
              class="banner_svg px-3 px-sm-4 mt-3 mb-4"
              style="width: 30rem"
              src="assets/img/undraw_content_team.svg"
            />
          </div>

          
        </div>
    </div>
</section>

<section  class="meu_container">
    <div class="home_content">

      <p class="dicasAbaixo">
        Esta ferramenta irá te ajudar a compreender os fundamentos básicos de
        algoritmos de ordenação. <strong>Abaixo, algumas dicas para você!</strong>
      </p>
     
        <app-card-home></app-card-home>

    </div>
    
</section>

<section class="estouPronto">
  <div class="meu_container">
    <div class="estouPronto_content">
      <h1 class="estouPronto_Titulo">Então, vamos lá!</h1>
      <h4 class="estouPronto_Subtitulo">
        Só clicar nesse botão aí embaixo para começar.
      </h4>
      <button
        id="btnCriarSequencia"
        class="btn btn-lg btn-outline-primary"
        title="Começar"
        (click)="redirecionarParaMetodos()"
      >
        Começar
    </button>

    </div>

  </div>
  
  <div class="olhinhos" (click)="redirecionarParaDefinicaoMetodos()">
    <img class="olhinhos_img" style="width: 2rem" src="assets/img/eye.svg"/>
  </div>
  

</section>